<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cantabile.douyin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnimationActivity">
        <activity
            android:name=".activity.launch.LaunchActivity"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.localmusic.LocalMusicAct" />

        <service android:name=".service.PlayService" />

        <receiver android:name=".receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.login.LoginAct"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.music.MusicPlayingAct" />
        <activity android:name=".activity.music.NetSearchAct" />
        <activity android:name=".activity.music.LocalSearchAct"/>
    </application>

</manifest>